* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  height: 60vh;
  justify-content: space-between;
  width: 100vw;
}

.form {
  background: #b7b8bd;
  padding: 1rem;
}

.form__field {
  border: 1px solid #dcdcdc;
  border-radius: 20px;
  color: rgb(56, 56, 55);
  font-size: 1.2rem;
  padding: .5rem 1rem;
  width: 100%;
}

.form__field:focus {
  border-color: #e0fcff;
  box-shadow: 0 0 7px #cef8fc;
  outline: none;
}

.list {
  margin: 0;
  padding: 1rem;
}

.list__item {
  list-style: none;
}

.list__item.list__item--mine {
  text-align: right;
}

.message {
  border: 1px solid transparent;
  border-radius: 5px;
  display: inline-block;
  list-style: none;
  margin-bottom: 1rem;
  padding: .5rem 1rem;
}

.message.message--mine {
  background: #c3e88d;
  border-color: #82be27;
  text-align: right;
}

.message.message--other {
  background: #cae6f0;
  border-color: #baecff;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid #dcdcdc;
  border-radius: 20px;
  color: rgb(56, 56, 55);
}
.footer button {
  border: 1px solid #dcdcdc;
  color: rgb(56, 56, 55);
  font-size: 1.2rem;
} 
.footer button:focus {
  font-size: 1.4rem;
  color: #3AC371;
  animation: linear 0.1ms;
}